body{
    background-color: rgb(0, 139, 80);
    margin: 0;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    /* --- General Body & Heading --- */
}

.heading{
    text-align: center;
    font-family: verdana;
    color: white;
}

/* --- Container for homepage boxes --- */
.container {
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;              
    justify-content: center; 
    margin: 10px auto;
}

.box {
    width: calc(22% - 20px);
    background: rgba(3, 51, 15, 0.46);
    border-radius: 14px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: px;
    color: white;
}
.box img {
    width: 120px;
    height: 100px;
    object-fit: contain;
}
.top-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(3, 51, 15, 0.46);
    padding: 10px 0;
}

.top-links a {
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.top-links a:hover {
    text-decoration: underline;
}
